@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Sixtyfour+Convergence:SCAN@-10&family=Tiny5&display=swap');
#partner{
    height: 150vh;
    width: 100%;
    background-color: rgb(227, 227, 227);
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    padding: 50px 0;
    gap: 2%;
}

#partner .partnerContent{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10%;
    /* background-color: red; */
    height: 18%;
    width: 90%;

    /* background-color: red; */
}


#partner .partnerContent h2{
    color: black;
    font-size: 6vh;
    font-family: 'Roboto Mono', monospace;
    animation: autoBlur linear both;
    animation-timeline: view(55% auto);
}

#partner .partnerContent .logos{
    height: 20vh;
    width: 15%;
}

/* @keyframes autoBlur{
    from{
        filter: blur(40px);
    }
    to{
        filter: blur(0px);

    }

} */